body {
    font-family: monospace;
    background: var(--bg);
}
* {
    color:var(--fontColor);
    font-family:helvetica;
}

.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }
.dark-theme{
    --bg: var(--grey);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.gallery{
    display:flex;
}

.gallery-image{
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
}

.gallery img {
    width: 100%;
    height: auto;
}
.desc {
    padding: 15px;
    text-align: center;
}


:root {
--green: #01610F;
--white: #ffffff;
--black: #000000;
--grey: #494846;
}