body {
  font-family: monospace;
  padding: 0;
  margin: 0;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  justify-content: center;
}
.navbar li {
  display: inline;
  padding-right: 1rem;
}
.navbar li a {
  display: block;

  font-size: 2rem;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}
.navbar li a:hover {
  background-color: #04aa6d;
}
.container {
  width: 100%;
  height: 100%;
}
#gallery {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50vw;
}

.gallery-image {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
  height: 180px;
}

/* Loading animation */
#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #04aa6d;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear;
}
#loading.display {
  margin-top: 5rem;
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .navbar ul {
    flex-direction: column;
  }
}
